<!DOCTYPE html>
<html>
<head>
	<title>The Solar System</title>
	<link rel="stylesheet" href="/css/styles.css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="jumbotron">
	<nav>
		<a href="/" type="button" class="btn btn-sm btn-outline-dark"><em>Home</em></a>
	    <a href="/mercury" type="button" class="btn btn-sm btn-outline-dark"><em>Mercury</em></a>
	    <a href="/venus" type="button" class="btn btn-sm btn-outline-dark"><em>Venus</em></a>
	    <a href="/earth" type="button" class="btn btn-sm btn-outline-dark"><em>Earth</em></a>
    </nav>
    <hr>