<%- include('partials/header.ejs') %>
    <h1>Welcome to Earth!</h1>
    <p class="font-weight-light">Our home Earth is the third planet closest to the Sun. Earth is the only known planet to be
    in that "sweet spot" with not too cold and not too hot temperatures to sustain life. Due to this,
    Earth also has an atmosphere that makes it possible for us to breath and be protected from 
    harmful ultraviolet rays from the Sun. The name Earth itself isn't from Roman Gods like the
    other planets though, it means dirt or soil. Fitting name since we're the only ones who can
    make use of it.</p>
    <img style="width:300px;" src="/img/earth.jpg" alt="Earth"/>
<%- include('partials/footer.ejs') %>