<%- include('partials/header.ejs') %>
    <h1>Welcome to Mercury!</h1>
    <p class="font-weight-light">Mercury, the planet closest to the sun. As such it is a lot hotter there and
    so temperatures can reach up to 840 degrees Fahrenheit. The name Mercury comes
    a God in Roman beliefs which was described as "fleet-footed" since the planet
    revolves around the Sun the fastest. To put it into perspective Mercury is known
    as the smallest planet, only slightly larger than Earth's moon.</p>
    <img style="width:500px;" src="/img/mercury.png" alt="Mercury"/>
<%- include('partials/footer.ejs') %>