<%- include('partials/header.ejs') %>
    <h1>Welcome to Venus!</h1>
    <p class="font-weight-light">Venus, the second closest planet to the sun, like Mercury is very hot. Temperatures
    can reach so high that all sorts of materials that otherwise require a lot of energy
    to be melted on Earth will melt on Venus just with the atmosphere alone. Venus is also
    the only planet to be named after a woman, the Godess of love and beauty.</p>
    <img style="width:300px;" src="/img/venus.jpg" alt="Venus"/>
<%- include('partials/footer.ejs') %>